/* .icon {
  fill: black;
  stroke: black;
} */
.headerContent {
  border-bottom: 1px solid var(--badges);
  padding: 24px 64px;
  width: 1440px;
  height: 72px;
  background: var(--inputs);
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 450px;
}
.headerNav {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: center;
}
