.booking {
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  padding: 44px;
  width: 641px;
  height: 588px;
  margin-top: 44px;
}
.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  margin-bottom: 8px;
}
.descr {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
  margin-bottom: 24px;
}
.form {
  width: 527px;
  height: 420px;
}
.name {
  border-radius: 12px;
  padding: 18px 337px 18px 18px;
  width: 527px;
  height: 60px;
  background: var(--inputs);

  border: none;
}
.email {
  border-radius: 12px;
  padding: 18px 337px 18px 18px;
  width: 527px;
  height: 60px;
  background: var(--inputs);
  margin-top: 14px;
  border: none;
}
.date {
  border-radius: 12px;
  padding: 18px 337px 18px 18px;
  width: 527px;
  height: 60px;
  background: var(--inputs);
  margin-top: 14px;
  border: none;
}
.comment {
  border-radius: 12px;
  padding: 18px 337px 18px 18px;
  width: 527px;
  height: 60px;
  background: var(--inputs);
  border: none;
  margin-top: 14px;
}
.btnWrapper {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.error {
  color: #d00;
  font-size: 12px;
  margin-top: 4px;
}
