.boxRating {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  margin-bottom: 24px;
}
.ratingStar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.iconStar {
  fill: gold;
}
.boxLocation {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rating {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
}
.location {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
}
