.btn {
  border-radius: 200px;
  padding: 16px 60px;
  height: 56px;
  background: var(--button);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--white);
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.m {
  width: 166px;
}
.l {
  width: 173px;
}
