.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 527px;
  height: 296px;
  margin: 0 auto;
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  margin-top: 76px;
  /* margin-bottom: 24px; */
}

.table {
  list-style: none;
  padding: 0;
  margin: 0;
  /* display: flex; */
  flex-direction: column;
  /* gap: 12px; */
  width: 527px;
  height: 224px;
}

.table li {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  /* border-bottom: 1px solid var(--gray-light); */
  margin: 0 auto;
}

/* .table span:first-child {
  color: var(--text-light);
} */

/* .table span:last-child {
  font-weight: 600;
} */
.det {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--main);
}
.line {
  height: 1px;
  background-color: #dadde1;
  width: 527px;
  /* margin-bottom: 44px; */
}
