.features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 524px;
  height: 104px;
}
.featureBtn {
  border-radius: 100px;
  padding: 12px 18px;
  width: 143px;
  height: 48px;
  background: var(--white);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--main);
  background: var(--badges);
  mix-blend-mode: multiply;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
