.catalog {
  padding: 48px 64px 52px;
  display: flex;
  flex-direction: row;
  gap: 64px;
}
.hidden {
  display: none;
}
.filter {
  width: 360px;
}
.label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
  margin-bottom: 8px;
}
.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.input {
  border-radius: 12px;
  padding: 18px 218px 18px 48px;
  width: 360px;
  height: 56px;
  background: var(--inputs);
  border: none;
}
.icon {
  position: absolute;
  top: 18px;
  left: 20px;
}
.CampersList {
  width: 888px;
  height: 1568px;
}

.filterTitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
  margin-bottom: 32px;
}
.filterEquip {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  margin-bottom: 24px;
}
.line {
  height: 1px;
  width: 360px;
  background-color: var(--gray-light);
  margin-bottom: 24px;
}
.eqList {
  display: flex;
  flex-direction: row;
  row-gap: 8px;
  column-gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.eqItem {
  border: 1px solid var(--gray-light);
  border-radius: 12px;
  padding: 16px 18px;
  width: 112px;
  height: 96px;
  mix-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main);
}
.filterIcon {
  margin: 0 auto;
  flex-shrink: 0;
}
.eqItemBig {
  padding: 4px 18px;
}
