.date {
  border-radius: 12px;
  padding: 18px 337px 18px 18px;
  width: 527px;
  height: 60px;
  background: var(--inputs);
  margin-top: 14px;
  border: none;
}
.error {
  color: #d00;
  font-size: 12px;
  margin-top: 4px;
}
