.card {
  border: 1px solid var(--gray-light);
  border-radius: 20px;
  padding: 24px;
  width: 888px;
  height: 368px;
  background: var(--white);
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.image {
  border-radius: 10px;
  width: 292px;
  height: 320px;
  object-fit: cover;
}

.info {
  width: 524px;
  height: 320px;
}
.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.boxRight {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}
.name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
}
.price {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
}
.boxRating {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  margin-bottom: 24px;
}
.ratingStar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.boxLocation {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rating {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
}
.reviews {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
}
.location {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
}
.desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
  margin-bottom: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 524px;
  height: 104px;
}
.featureBtn {
  border-radius: 100px;
  padding: 12px 18px;
  width: 143px;
  height: 48px;
  background: var(--white);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--main);
  background: var(--badges);
  mix-blend-mode: multiply;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  /* fill: transparent;
  stroke: black; */
}
